
body{
    margin: 0;
    padding: 0;
}

.snake{

    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

canvas{
    box-shadow: black 20px 10px 50px;
}


#restart{
    padding-top: 20px;
    
}

#restart h2{
    font-size: 20px;
}